#contact {
    padding: 40px 0;
    background-color: var(--primary-color);
}

.row{
    display: flex;
    flex-direction: row;
}
.contact-left{
    flex-basis: 35%;
    padding: 30px;
}

.contact-right{
    flex-basis: 60%;
  
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: var(--main-brand-color);
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: var(--main-brand-color);
    display: inline-block;
}

.social-icons a:hover{
    color: var(--text-primary);
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: var(--main-brand-color);
    color: var(--secondary-text-primary);
    text-decoration: none;
    font-size: 18px;
    margin-top: 30px;
}

.btn.btn2:hover{
    background-color: var(--secondary-color);
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background-color: var(--light-secondary-color);
    padding: 15px;
    margin: 15px 0;
    color: var(--secondary-text-primary);
    font-size: 18px;
    border-radius: 6px;  
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 5%;
  
}

#msg{
    color: var(--text-color);
    margin-top: 20px;
    display: block;
}

@media(max-width:500px){

    .row{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 5vw;
    }
    .contact-left{
        text-align: left;
    }
}